/* header */
header {}
header h1 {}
header h1 a {}
header h1 a img {width:60px;}
header nav {}
header nav a {font-size:1.063rem;}
header nav .active {color:#36b4e5;}
header .lnb {}
header .lnb a {}
/* main */
main {}
/* 공통배경 */
main .bg {
    background-color: #f1f1f1;
    padding:50px 0;
}
main .bg_w {padding:50px 0;}
/* 현재페이지경로 */
main .border{
    /* border-top:1px solid #aaa;
    border-bottom:1px solid #aaa; */
    border:1px solid #aaa;
    border-left:none; border-right:none;/* 이 방법으로 안쓰면 죽임 암튼 죽일거임 ㅇㅇ */
}
main .bg_path {background-color: #f1f1f1;}
main .bg_path .top {
    padding:20px 0;
}
main .bg_path .top dt {}
main .bg_path .top dd {}
main .bg_path .top dd span {}
main .bg_path .top dd em {}
/* 경영이념 제목 */
main .bg_w .title {}
main .bg_w .title h1 {
    font-size:2.5rem;
    margin-bottom:15px;
}
main .bg_w .title p {}
/* 경영이념 내용 */
main .bg .contents {}
main .bg .contents p {
    line-height:1.5;
}
/* 경영이념 vision */
main .bg_w .contents {}
main .bg_w .contents h2 {
    font-size:1.375rem;
    color:#36b4e5;
    margin-bottom:30px;
}
main .bg_w .contents p {
    font-size:1.938rem;
    line-height:1.5;
    letter-spacing:-0.02em;
}
/* 경영이념 GOAL, STRATEGY */
main .bg .contents h2 {
    font-size:1.25rem;
    margin-bottom:30px;
}
main .bg .contents ul {}
main .bg .contents .goal_list li {
    width:250px; height:250px;
    border-radius:50%;
}
main .bg .contents ul li {
    font-size:1.5rem;
    line-height:1.5;                                                                                                     
    letter-spacing:-0.02em;
    background-color:#fff;
}
main .bg .contents .strategy_list li{
    width:180px; height:180px;
    border-radius:50%;
}
main .bg .contents ul .first {background-color:#36b4e5;}
main .bg .contents ul .last {background-color:#f3c300;}
main .bg .contents ul li h3 {font-size:1.063rem;}
main .bg .contents ul li p {}
/* footer */
footer {}
footer .ft_top {}
footer .ft_top .ft_left {}
footer .ft_top .ft_left a {font-weight:700;}
footer .ft_top .ft_right {}
footer .ft_top .ft_right a {
    border:1px solid #aaa;
    display:inline-block;
    padding:10px 20px;
}
footer address {}
footer address+p {}